{{#if footerControls}}
	<footer>
		<ul>
			{{#each footerControls}}
			{{!-- spreadClass: string[] => string string string --}}
				<li class="{{spreadAttributes this.classes}}">
					{{this.text}}
				</li>
			{{/each}}
		</ul>
	</footer>
{{/if}}